extends ../shared/template/layout/_default

block vars
  -
    var title = 'svg-animation'

block main
  .test
    svg.c-circle(width='42', height='42', viewbox='0 0 42 42', version='1.1', xmlns:xlink='http://www.w3.org/1999/xlink')
      circle#js-circle.c-circle__item(cx='21', cy='21', r='20', fill='none', stroke='#000', stroke-miterlimit='10', stroke-width='2px')
    .c-button-wrap
      button#js-start.c-button.disable START
      button#js-reStart.c-button.disable RESTART
      button#js-stop.c-button STOP
  .test-svg-wrap
    .js-svg-wrap.test-svg-inner
      svg.js-svg-image.test-svg(width='1000', height='667',  viewbox='0 0 1000 667', preserveAspectRatio='none')
        g.test-g-triangle
          clippath#triangle
            path(fill='#808080', d="M500,0l500,333.5L500,667,0,333.5Z")
          image(xlink:href='/image/lady.jpg', x='0', y='0', width='100%', height='100%')
  .test-svg-wrap
    .js-svg-wrap.test-svg-inner
      svg.js-svg-image.test-svg(width='807', height='538',  viewbox='0 0 807 538')
        g.test-g
          clippath#svgPath
            circle.js-unko(stroke='#000', stroke-miterlimit='10', cx='50', cy='50', r='40')
            circle.js-unko(stroke='#000', stroke-miterlimit='10', cx='193.949', cy='235', r='74.576')
            circle.js-unko(stroke='#000', stroke-miterlimit='10', cx='426.576', cy='108.305', r='47.034')
            circle.js-unko(stroke='#000', stroke-miterlimit='10', cx='346.915', cy='255.763', r='43.644')
            circle.js-unko(stroke='#000', stroke-miterlimit='10', cx='255.39', cy='82.882', r='35.17')
            circle.js-unko(stroke='#000', stroke-miterlimit='10', cx='328.695', cy='157.034', r='25.424')
            circle.js-unko(stroke='#000', stroke-miterlimit='10', cx='594.797', cy='360.424', r='121.187')
            circle.js-unko(stroke='#000', stroke-miterlimit='10', cx='470.008', cy='223.771', r='31.992')
            circle.js-unko(stroke='#000', stroke-miterlimit='10', cx='299.525', cy='400.762', r='64.407')
            circle.js-unko(stroke='#000', stroke-miterlimit='10', cx='634.627', cy='183.305', r='92.373')
            circle.js-unko(stroke='#000', stroke-miterlimit='10', cx='136.746', cy='172.712', r='106.356')
            circle.js-unko(stroke='#000', stroke-miterlimit='10', cx='91.831', cy='416.779', r='36.017')
            circle.js-unko(stroke='#000', stroke-miterlimit='10', cx='125.305', cy='335', r='25.424')
            circle.js-unko(stroke='#000', stroke-miterlimit='10', cx='192.424', cy='421.271', r='20.509')
            circle.js-unko(stroke='#000', stroke-miterlimit='10', cx='184.847', cy='362.543', r='18.22')
            circle.js-unko(stroke='#000', stroke-miterlimit='10', cx='436.568', cy='385.602', r='72.635')
            circle.js-unko(stroke='#000', stroke-miterlimit='10', cx='345.644', cy='90.085', r='23.729')
            circle.js-unko(stroke='#000', stroke-miterlimit='10', cx='534.627', cy='85', r='42.373')
            circle.js-unko(stroke='#000', stroke-miterlimit='10', cx='426.305', cy='12.017', r='83.898')
            circle.js-unko(stroke='#000', stroke-miterlimit='10', cx='277.458', cy='314.694', r='22.068')
            circle.js-unko(stroke='#000', stroke-miterlimit='10', cx='413.229', cy='195.381', r='22.669')
            circle.js-unko(stroke='#000', stroke-miterlimit='10', cx='277.848', cy='185', r='16.949')
            circle.js-unko(stroke='#000', stroke-miterlimit='10', cx='493.102', cy='158.729', r='19.492')
            circle.js-unko(stroke='#000', stroke-miterlimit='10', cx='424.517', cy='290.873', r='24.517')
            circle.js-unko(stroke='#000', stroke-miterlimit='10', cx='71.067', cy='348.56', r='49.152')
            circle.js-unko(stroke='#000', stroke-miterlimit='10', cx='737.221', cy='62.915', r='50.898')
            circle.js-unko(stroke='#000', stroke-miterlimit='10', cx='740', cy='430', r='50')
          image(xlink:href='/image/lady.jpg', width='100%', height='100%')
        
